body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.index-bg {
    background: url('ivan-stanley-YV0VAKVwFxA-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    animation: scrollBackground 30s linear infinite;
    transition: background-image 1s ease-in-out;
}

@keyframes scrollBackground {
    0%, 100% {
        background-image: url('ivan-stanley-YV0VAKVwFxA-unsplash.jpg');
    }
    20% {
        background-image: url('neda-astani-KWTkd7mHqKE-unsplash.jpg');
    }
    40% {
        background-image: url('noaa-jU-JOEZ2saQ-unsplash.jpg');
    }
    60% {
        background-image: url('noaa-kcvlb727mn8-unsplash.jpg');
    }
    80% {
        background-image: url('noaa-NHGnSc5YQOg-unsplash.jpg');
    }
}

header {
    background: linear-gradient(90deg, #30e9d6, #5162e1);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #292929;
}

/* Contact Us Page */
.contact {
    background: rgba(213, 211, 211, 0.929);
    border-radius: 8px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 400px;
    margin: 120px auto; /* Adjust margin to push content down */
    position: relative;
    z-index: 1;
}

.contact h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.contact .form-group {
    margin: 10px 0;
    text-align: left;
}

.contact label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact input[type="text"],
.contact input[type="email"] {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    resize: none;
}

.contact textarea {
    width: 95%;
    height: 100px; /* Adjust the height as needed */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.contact button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact button:hover {
    background: #0056b3;
}

#confirmation {
    display: none;
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

/* App Styling (Home Page) */
.app {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.app .search {
    margin: 20px 0;
}

.app input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
}

.app button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.app button:hover {
    background: #0056b3;
}

.app #result {
    margin-top: 20px;
    font-size: 18px;
}

/* About Us Page Styles */
.about-bg {
    background: url('dave-hoefler-od287vQyufw-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* Adjust the height as needed */
    position: relative;
    overflow: hidden;
    opacity: 0.9; 
}

.about-content {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: 30%;
    transform: translateY(-50%);
}

.about-content h1 {
    font-size: 34px;
    color: #fff;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 20px;
    color: #eee;
}